<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.20.5.18)(PORT=1539))(CONNECT_DATA=(SERVICE_NAME=MESDB)));User Id=MESTK_ADMIN;Password=Ht_jYwK!AdmIn#M1;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="StdfApiBaseUrl" value="http://10.20.5.21:8200/api/StdfRetrieve/GetStdfHardBinAndSoftBin" />
    <add key="TsmcMapOutputDir" value="\\10.20.6.14\testdata\MapNewMMS" />
    <add key="LogFilePath" value="logs/app.log" />
    <add key="MailHost" value="10.20.5.32" />
    <add key="MailUsername" value="shhtreport@ht-tech.com" />
    <add key="MailPassword" value="ShMms20*16PkcvBa" />
    <add key="MailPort" value="25" />
    <add key="MailReceiver" value="yuhan.wu_sh@ht-tech.com,yuxiang.wang_sh@ht-tech.com" />

  </appSettings>
</configuration>